# Data Wrangling

This an example data source which can be used for Predictive Maintenance Model Building. It consists of the following data:

<b>Machine conditions and usage:</b> The operating conditions of a machine e.g. data collected from sensors.

<b>Failure history:</b> The failure history of a machine or component within the machine.

<b>Maintenance history:</b> The repair history of a machine, e.g. error codes, previous maintenance activities or component replacements.

<b>Machine features:</b> The features of a machine, e.g. engine size, make and model, location.

## Table of Contents:

### Import Libraries

In [16]:
#import libraries
import pandas as pd
#date
from datetime import datetime, timedelta

## 1. Data Collection

In [13]:
#get the data and read it 

#errors
errors = pd.read_csv('../Data/PdM_errors.csv')

#failures
failures = pd.read_csv('../Data/PdM_failures.csv')

#maint
maint = pd.read_csv('../Data/PdM_maint.csv')

#machines
machines = pd.read_csv('../Data/PdM_machines.csv')

#telemtry
telemtry = pd.read_csv('../Data/PdM_telemetry.csv')

## 2. Data Organization

In [6]:
#view first few rows
errors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3919 entries, 0 to 3918
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3919 non-null   object
 1   machineID  3919 non-null   int64
 2   errorID    3919 non-null   object
dtypes: int64(1), object(2)
memory usage: 92.0+ KB

In [8]:
errors.head()

              datetime  machineID errorID
0  2015-01-03 07:00:00          1  error1
1  2015-01-03 20:00:00          1  error3
2  2015-01-04 06:00:00          1  error5
3  2015-01-10 15:00:00          1  error4
4  2015-01-22 10:00:00          1  error4

In [36]:
#check duration
errors.datetime.describe(datetime_is_numeric=True)

count                             3919
mean     2015-07-01 03:34:18.586374144
min                2015-01-01 06:00:00
25%                2015-03-31 05:00:00
50%                2015-07-01 06:00:00
75%                2015-10-01 15:00:00
max                2016-01-01 05:00:00
Name: datetime, dtype: object

The duration is between January 1, 2015 and January 1, 2016.

### Convert to datetime

This data represents error logs. These are non-breaking errors thrown while the machine is still operational and do not constitute as failures. The error date and times are rounded to the closest hour since the telemetry data is collected at an hourly rate.

In [22]:
errors["datetime"] = pd.to_datetime(errors["datetime"], format="%Y/%m/%d %H:%M:%S")

errors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3919 entries, 0 to 3918
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3919 non-null   datetime64[ns]
 1   machineID  3919 non-null   int64
 2   errorID    3919 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 92.0+ KB

In [24]:
failures["datetime"] = pd.to_datetime(failures["datetime"], format="%Y/%m/%d %H:%M:%S")

maint["datetime"] = pd.to_datetime(maint["datetime"], format="%Y/%m/%d %H:%M:%S")

telemtry["datetime"] = pd.to_datetime(telemtry["datetime"], format="%Y/%m/%d %H:%M:%S")

These are the records of component replacements due to failures. Each record has a date and time, machine ID, and failed component type.

In [25]:
#Check info
failures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   761 non-null    datetime64[ns]
 1   machineID  761 non-null    int64
 2   failure    761 non-null    object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 18.0+ KB

These are the scheduled and unscheduled maintenance records which correspond to both regular inspection of components as well as failures. A record is generated if a component is replaced during the scheduled inspection or replaced due to a breakdown. The records that are created due to breakdowns will be called failures which is explained in the later sections. Maintenance data has both 2014 and 2015 records.

In [26]:
#Check info
maint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3286 entries, 0 to 3285
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3286 non-null   datetime64[ns]
 1   machineID  3286 non-null   int64
 2   comp       3286 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 77.1+ KB

This data set includes meta-data about the machines: model type and age (years in service).

In [27]:
#Check info
machines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   machineID  100 non-null    int64
 1   model      100 non-null    object
 2   age        100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

This is a telemetry time-series data. It consists of voltage, rotation, pressure, and vibration measurements collected from 100 machines in real time averaged over every hour collected during the year 2015.

In [28]:
#Check info
telemtry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876100 entries, 0 to 876099
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   datetime   876100 non-null  datetime64[ns]
 1   machineID  876100 non-null  int64
 2   volt       876100 non-null  float64
 3   rotate     876100 non-null  float64
 4   pressure   876100 non-null  float64
 5   vibration  876100 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 40.1 MB

## Data Cleaning

### Check for duplicates

In [32]:
print(errors[errors.duplicated()])

print(failures[failures.duplicated()])

print(maint[maint.duplicated()])

print(machines[machines.duplicated()])

print(telemtry[telemtry.duplicated()])

Empty DataFrame
Columns: [datetime, machineID, errorID]
Index: []
Empty DataFrame
Columns: [datetime, machineID, failure]
Index: []
Empty DataFrame
Columns: [datetime, machineID, comp]
Index: []
Empty DataFrame
Columns: [machineID, model, age]
Index: []
Empty DataFrame
Columns: [datetime, machineID, volt, rotate, pressure, vibration]
Index: []

There are no duplicates.

### Check for null values

In [33]:
#check how many null values

print(errors.isnull().sum())

print(failures.isnull().sum())

print(maint.isnull().sum())

print(machines.isnull().sum())

print(telemtry.isnull().sum())

datetime     0
machineID    0
errorID      0
dtype: int64
datetime     0
machineID    0
failure      0
dtype: int64
datetime     0
machineID    0
comp         0
dtype: int64
machineID    0
model        0
age          0
dtype: int64
datetime     0
machineID    0
volt         0
rotate       0
pressure     0
vibration    0
dtype: int64

There are no null values.

-standardize telemetry df > and statsmodel